html {
  max-width: 100%vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    color: #888;
    font-weight: 300;
    font-size: 13pt;
}

body {
    padding-top: 3.5em;
    display: initial;
}

footer {
    margin: 3em 0 0 0;
}

#root {
  text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
  }

header {
    margin: 0 0 3em 0;
}

a:hover {
    color: #43bff0 !important;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #3e3e3e;
    margin: 0 0 0.75em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
.root {
  padding:0px 20px;
  width: 100vw;
}
.intro strong {
  font-weight: bold;
  color: black;
}

h2 {
    font-size: 2em;
    letter-spacing: -0.015em;
}

h3 {
    font-size: 1.5em;
    letter-spacing: -0.015em;
}

header {
  margin: 0 0 2em 0;
}

header > p {
  font-size: 1.25em;
}

footer {
  margin: 2.5em 0 0 0;
}

  footer > p {
    font-size: 1.25em;
  }

hr {
    border: 0;
    border-top: solid 1px #444;
    border-top-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    height: 1px;
    margin: 3em 0;
}
.icon.featured {
    color: #EA8A95;
    display: block;
    margin: 0 0 1.5em 0;
    cursor: default;
}
.icon.featured:before {
    font-size: 6em;
}

.box {
    background: #fff;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0em 0em 2em 0em;
}

.box.style1 {
    padding: 2em 1em;
}

.introtext h1 {
    color: black;
    font-weight: 500;
    margin: 0px;
}

.featured img {
  width:100%;
  height: auto;
}

/* Nav */

#nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;
  height: 3.5em;
  line-height: 3.5em;
}

#nav ul {
margin-bottom: 0;
list-style: none;
padding-left: 0;
}

#nav li {
display: inline-block;
padding-left: 0;
}

#nav a {
-moz-transition: background-color .2s ease-in-out;
-webkit-transition: background-color .2s ease-in-out;
-ms-transition: background-color .2s ease-in-out;
transition: background-color .2s ease-in-out;
position: relative;
display: block;
color: #fff;
text-decoration: none;
outline: 0;
font-weight: 600;
border-radius: 8px;
color: #fff;
height: 2.5em;
line-height: 2.5em;
padding: 0 1.25em;
}

#nav a:hover {
color: #fff !important;
background: #383838;
}

#nav a.active {
background: #484848;
}

#nav a.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

/* Nav */

#nav {
  line-height: 40px;
}

#nav a {
  padding: 0 0.75em;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
}

#nav a:hover {
  background-color: transparent;
}

button,.button {
  background-image: url("/src/assets/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: url("/src/assets/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: url("/src/assets/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: url("/src/assets/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  position: relative;
  display: inline-block;
  color: #fff !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  background-color: #43B3E0;
  padding: 1em 2.35em 1em 2.35em;
  font-size: 1.1em;
  max-width: 24em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background-color: #43bff0;
  color: #fff !important;
}

ul.actions {
  list-style: none;
}

.wrapper{
    background-image: url(/src/assets/bg.png);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 8em 0 8em 0;
    text-align: center;
}
  
.wrapper.style3 {
    background-color: #f4f4f4;
    text-shadow: 1px 1px 0px #fff;
}

/* Copyright */

#copyright {
color: #666;
font-size: 1em;
line-height: 1em;
list-style: none;
padding-left: 0;
margin-bottom: 0;
}

#copyright li {
  display: inline-block;
  border-left: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}

  #copyright li:first-child {
    border: 0;
    box-shadow: none;
    padding-left: 0;
    margin-left: 0;
  }

#copyright a {
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  color: inherit;
}

#copyright a:hover {
  color: #777;
}
article {
  padding: 10em 0 10em 0;
}
.wrapper.style1 {
    background-image: none;
    background-color: #fff;
}
.wrapper.style2 {
    background-color: #fafafa;
    text-shadow: 1px 1px 0px #fff;
}
.wrapper.style3 {
    background-color: #f4f4f4;
    text-shadow: 1px 1px 0px #fff;
}
.wrapper {
    background-image: url(/src/assets/bg.png);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 8em 0 8em 0;
    text-align: center;
}
.wrapper.style4 {
    background-color: #303030;
    color: #999;
    text-shadow: -1px -1px 0px #181818;
}

.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
    color: #fff;
}

.image.fit {
  display: block;
  border-radius: 100%;
  width: 15em;
  height: 15em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
.profile-intro-container {
    text-align: center;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  padding: 1em 0 1em 0;
}

input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
button.large,
.button.large {
  font-size: 1.2em;
  letter-spacing: 0;
}

form textarea {
    height: 15em;  
}

/* Social */

ul.social {
  padding: 1em 0.5em 0 0.5em;
  cursor: default;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

ul.social li {
  margin: 0.5em 0.5em 0.5em 0.5em;
  position: relative;
  display: inline-block;
  margin: 0.25em;
  top: 0;
  padding-left: 0;
}

/* Copyright */

#copyright {
font-size: 1em;
margin: 0;
}

#copyright li {
display: block;
margin: 1em 0 0 0;
padding: 0;
box-shadow: none;
border-left: 0;
}

#copyright li:first-child {
  margin-top: 0;
}

input, textarea {
    width: 100%;
}
.wrapper.style4 form input[type=text], .wrapper.style4 form input[type=password], .wrapper.style4 form select, .wrapper.style4 form textarea {
    border: none;
    background: #282828;
}
form input[type=text],form select, form textarea {
  transition: .2s ease-in-out, box-shadow .2s ease-in-out;
    display: block;
    padding: 0.75em;
    font-size: 1em;
    border-radius: 8px;
    background: #fff;
    color: #bbb;
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
    width: 100%;
}
  .loader {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 input[type="submit"],.input[type="reset"].alt {
    background-image: url(/src/assets/bg.png), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1.1em;
    max-width: 24em;
  }
  input[type="submit"] {
    background-color: #43B3E0;
  }
  input[type="reset"].alt {
    background-color: #444;
    border-radius: 8px;
    font-size: 1.1em;
  }
  ul.social {
    cursor: default;
    margin: 0;
    list-style: none;
    padding-left: 0;
  }
  ul.social li {
    position: relative;
    display: inline-block;
    margin: 0.25em;
    top: 0;
    padding-left: 0;
  }
  ul.social li a {
    transition: top .2s ease-in-out;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    top: 0;
    position: relative;
  }

  ul.social li a:hover {
    top: -5px;
  }

  ul.social li a:before {
  background-color: transparent !important;
}

ul.social li a:before {
  background-image: url(/src/assets/bg.png), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  transition: background-color .2s ease-in-out;
  background-color: #444;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
  color: #2E2E2E !important;
  display: block;
  font-size: 26px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  outline: 0;
  overflow: hidden;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  width: 48px;
}

.icon > .label {
    display: none;
}
ul.social li a:hover:before {
    background-color: transparent;
}

.portfolio-info .container, .service-items, .portfolio-items, .halves, .fulls, .actions {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
}

.fulls {
    margin-top: 1rem;
}

.my-form input, .my-form textarea {
    max-width: calc(100% - 20px);
}

a.fa-twitter:hover {
    background: #2DAAE4;
}
a.fa-facebook-f:hover {
    background-color: #3C5A98;
}
a.fa-dribbble:hover {
    background-color: #C4376B;
}
a.fa-linkedin:hover {
    background-color: #006599;
}
a.fa-tumblr:hover {
    background-color: #51718A;
}
a.fa-google-plus:hover {
    background-color: #DA2713;
}
a.fa-github:hover {
    background-color: #FAFAFA;
}


@media only screen and (min-width:600px) {
  .image.fit {
    width: 15em;
    height: 15em;
  }
  /*profile intro CSS*/
  .portfolio-info .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .container.medium {
    max-width: 550px;
    margin-left: auto;
    margin-right:auto;
  }
  .halves {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3em;
      margin-bottom: 1.5em;
  }
  /*grid-area: row-start / column-start / row-end / column-end;*/
  .half-large.full-small {
      grid-area: 1/1 / 2/2;
  }
  .half-large2.full-small {
      grid-area: 1/2 / 2/3;
  }
  .fulls {
      display: grid;
      row-gap: 1.5em;
  }
  
  ul.actions {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    list-style: none;
  }
}



@media only screen and (min-width: 768px) {
  .profile-intro-container {
    text-align: left;
  }
  .container {
      max-width: 1200px;
    }

  .container.medium {
      max-width: 900px;
  }
  .image.fit {
    width: 20em;
    height: 20em;
  }
  /*profile intro CSS*/
  .portfolio-info .container {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  /*grid-area: row-start / column-start / row-end / column-end;*/
  .portfolio-info .image-container {
    grid-area: 1 / 1 / 2 / 2;
  }
  .portfolio-info .profile-intro-container {
    grid-area: 1 / 2 / 2/ 3;
  }
  .service-items {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .portfolio-items {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .halves {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3.5em;
      margin-bottom: 1.5em;
  }
  .half-large.full-small {
      grid-area: 1/1 / 2/2;
  }
  .half-large2.full-small {
      grid-area: 1/2 / 2/3;
  }
  .fulls {
      row-gap: 1.5em;
  }
  ul.actions {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5em;
  }
}

